#container {
    display: grid;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-template-areas:"A" "B" "C" "D" "E" "." "F";
    background-color: #ffefdb;
    gap: 16px 16px;
}

.item {
    display: flex;
    border: 2px solid #932F37;
    /*margin: 8px;*/
    padding: 16px;
    background-color: #BA3B46;
    justify-content: center;
    align-items: center;
}

#A {
    grid-area: A;
}

#B {
    grid-area: B;
}

#C {
    grid-area: C;
}

#D {
    grid-area: D;
}

#E {
    grid-area: E;
}

#F {
    grid-area: F;
}


@media only screen and (min-width: 576px) {

    #container {
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "A C C"
        "B C C"
        "B E D"
        "B E ."
        "F F F";
    }


}

