#container {
    display: grid;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr;
    grid-template-areas:"item-a" "item-b" "item-c" "item-d" "item-e" "." "item-f";
    background-color: #ffefdb;
    gap: 16px 16px;
}

.item {
    display: flex;
    border: 2px solid #932F37;
    /*margin: 8px;*/
    padding: 16px;
    background-color: #BA3B46;
    justify-content: center;
    align-items: center;
}

#a {
    grid-area: item-a;
}

#b {
    grid-area: item-b;
}

#c {
    grid-area: item-c;
}

#d {
    grid-area: item-d;
}

#e {
    grid-area: item-e;
}

#f {
    grid-area: item-f;
}


@media only screen and (min-width: 576px) {

    #container {
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "item-a item-c item-c"
        "item-b item-c item-c"
        "item-b item-e item-d"
        "item-b item-e ."
        "item-f item-f item-f";
    }


}

